<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{/css/bootstrap/v4.3.1/bootstrap.min.css}" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<title>个人主页</title>
</head>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<header class="bg-dark sticky-top" th:replace="index::header">

		</header>

		<!-- 内容 -->
		<div class="main">
			<div class="container">
				<!-- 选项 -->
				<div class="position-relative">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link active" href="profile.html">个人信息</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="my-post.html">我的帖子</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="my-reply.html">我的回复</a>
						</li>
					</ul>
				</div>
				<!-- 个人信息 -->
				<div class="media mt-5">
					<img src="http://images.nowcoder.com/head/1t.png" class="align-self-start mr-4 rounded-circle" alt="用户头像" style="width:50px;">
					<div class="media-body">
						<h5 class="mt-0 text-warning">
							<span>nowcoder</span>
							<button type="button" class="btn btn-info btn-sm float-right mr-5 follow-btn">关注TA</button>
						</h5>
						<div class="text-muted mt-3">
							<span>注册于 <i class="text-muted">2015-06-12 15:20:12</i></span>
						</div>
						<div class="text-muted mt-3 mb-5">
							<span>关注了 <a class="text-primary" href="followee.html">5</a> 人</span>
							<span class="ml-4">关注者 <a class="text-primary" href="follower.html">123</a> 人</span>
							<span class="ml-4">获得了 <i class="text-danger">87</i> 个赞</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 尾部 -->
		<!-- 尾部 -->
		<footer class="footer bg-footer">
			<div class="container">
				<div class="row row-grid align-items-center mb-5">
					<div class="col-lg-6">
						<h3 class="text-primary font-weight-light mb-2">念念不忘的社区</h3>
						<p class="mb-0 font-weight-light">网站基于 Spring Boot &<a href="https://www.bootcss.com/" target="_blank">Bootstrap</a> 构建！</p>
					</div>
					<div class="col-lg-6 text-lg-center btn-wrapper">
						<a href="/submit/" target="_blank" class="btn btn-primary btn-icon font-normal">
            <span class="btn-inner--icon">
              <i class="fa fa-cloud-upload mr-2"></i>
            </span>
							<span class="nav-link-inner--text">联系我们</span>
						</a>
					</div>
				</div>
				<hr>
				<div class="row align-items-center justify-content-md-between">
					<div class="col-md-6">
						<div class="copyright">
							© 2020 Spring Boot & Bootstrap
						</div>
					</div>
					<div class="col-md-6">
						<ul class="nav nav-footer justify-content-end">
							<li	class="nav-item">
								<a class="nav-link">当前版本：v0.0.1</a>
							</li>

							<li class="nav-item">
								<a href="/about/" class="nav-link">关于</a>
							</li>

							<li class="nav-item">
								<a href="" class="nav-link" target="_blank">陕西省汉中市</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	</div>


	<script th:src="@{/js/jquery/v3.3.1/jquery.min.js}" crossorigin="anonymous"></script>
	<!--	<script th:src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>-->
	<script th:src="@{/js/bootstrap/v4.3.1/bootstrap.min.js}" crossorigin="anonymous"></script>
	<script th:src="@{/js/global.js}"></script>
	<script th:src="@{/js/profile.js}"></script>
</body>
</html>
